﻿@model LR_4BDEntity.Models.material


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>material</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.measure_point)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.measure_point)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.usage_info)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.usage_info)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.material_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
