﻿@model IEnumerable<LR_4BDEntity.Models.material>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.measure_point)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usage_info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.measure_point)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usage_info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.material_id }) |
                @Html.ActionLink("Details", "Details", new { id=item.material_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.material_id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
