﻿@model IEnumerable<LR_4BDEntity.Models.specs>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.creation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cancel_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.material.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product.code)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.creation_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cancel_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.material.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.code)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.spec_id }) |
                @Html.ActionLink("Details", "Details", new { id=item.spec_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.spec_id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
