﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditSuccess</title>
</head>
<body>
    <div class="text-center"> 
        <h2>Успішно @ViewBag.Operation</h2>
        <h3><a href="/Home/">Назад</a></h3>
    </div>
</body>
</html>
