﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>
        <a href="/products">Products</a>
    </h2>
    <h2>
        <a href="/materials">Materials</a>

    </h2>
    <h2>
        <a href="/specs">Material specifications</a>

    </h2>
</div>
<div class="container">
    <h3>1 .Определить изделие, в которое входит больше всего материалов типа 'цветной металл'. </h3>
    <table class="table table-striped ">
        <tr>
            <td>id</td>
            <td>name</td>
        </tr>
        @foreach (var r in ViewBag.query1)
        {

            <tr>
                <td>@r.product_id</td>
                <td>@r.name</td>
            </tr>
        }
    </table>
</div>
<div class="container">
    <h3>2.	Вывести список изделий, которые не производились в 2000 г. </h3>
    <table class="table table-striped ">
        <tr>
            <td>id</td>
            <td>name</td>
        </tr>
        @foreach (var r in ViewBag.query2)
        {

            <tr>
                <td>@r.product_id</td>
                <td>@r.name</td>
            </tr>
        }
    </table>
</div>
<div class="container">
    <h3>3.	Вывести список изделий, для которых затраты на материалы в 2000 г. снизились по сравнению с предыдущим годом.  </h3>
    <table class="table table-striped ">
        <tr>
            <td>id</td>
            <td>name</td>
        </tr>
        @foreach (var r in ViewBag.query3)
        {

            <tr>
                <td>@r.product_id</td>
                <td>@r.name</td>
            </tr>
        }
    </table>
</div>
<div class="container">
    <h3>4.	Вывести среднемесячный расход материала 'лапша' в 2000 г. </h3>
    <table class="table table-striped ">
        <tr>
            <td>expenses</td>
        </tr>
        @foreach (var r in ViewBag.query4)
        {

            <tr>
                <td>@r.expenses</td>
            </tr>
        }
    </table>
</div>